body {
	margin: 0px;
	padding: 0px;
	background-color: #E6E6EE;
}

h2 {
	color: #666699;
}

#titre {
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #666699;
	color: #FFFFFF;
	padding: 5px;
	padding-left: 15px;
}

#infos {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: right;
	background-color: #FFFFFF;
	color: #000000;
}

.serveur {
	width: 65%;
	margin: auto;
	margin-bottom:20px;
	background-color: #FFFFFF;
	border: 1px solid #32324B;
}

.prop {
	display:block;
	margin:auto;
	width:90%;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed black;
}

.maj {
	display:block;
	text-align:right;
	margin: 5px;
	margin-top:10px;
}

.maj a {
	color: #666699;
}
.maj a:hover {
	color: #9E9EBE;
}

.imgserv {
	margin: 10px;
	float: left;
}